* {
  margin: 0;
  padding: 0;
}


body {
  
}
 
.productimages {
  max-width: 50%;
  max-height: 100%;
  margin-top: 3rem;
}

.justifyContent {
  display: flex;
  justify-content: center;
}


.borderBottom {
  border-bottom: .1rem #c0c0c0 solid;
  padding: 1rem;
}